/* css media queary start */


/* *****
* screen resulation : 279px to 379px 
* most of the folding mobile phone -- like galaxy fold
*/

@media (min-width: 279px) and (max-width: 319px) {
    /* css start  */
    
    
    
    /* css end*/
    }
    
    /* css media queary start */
    
    
    /* *****
    * screen resulation : 320px to 480px 
    * most of the mobile phone -- 
    */
    
    @media (min-width: 320px) and (max-width: 480px) {
        /* css start  */
        .header .top-menu{
            padding: 10px 0px ;
        }
        .header .top-menu p {
            font-size: 12px;
            color: #474747;
        }
        .header .top-menu img{
            margin: 0px 0px 20px 0px ;
    
        }
        .header .navbar-wrapper {
            width: 100% ;
            margin-top:0px;
            position: relative;
            z-index: 15;
          
          }
         .header .isStuck{
            left:0px;
            width:100%;
            background-color: #37c3a8 ;
        }
        
        .header .navbar-nav .nav-link.active {
            color: #1a9bdc;
            margin: 10px 0px 0px 0px;
        }
        .header .nav-link {
            padding: 0px 0px 10px 0px;
            font-size: 14px;
            color: #474747;
            font-weight: 500;
        }
        .header .nav-link:hover{
            color: #1a9bdc;
        }
        .banner{
            padding: 30px 0px ;
        }
        .banner h1{
            font-size: 22px ;
        }
        .banner p{
            font-size: 14px ;
            margin: 15px 0px;
        }
    
        .banner .btn-primary{
            font-size: 12px ;
        }
        .about{
            padding: 30px 0px 10px 0px ;
        }
        .about h4{
            font-size: 16px ;
        }
        .about p{
            font-size: 12px ;
        }
        .chose-us{
            padding: 30px 0px ;
        }
        .chose-us .title h1 {
            font-size:22px ;
        }
        .chose-us .title p{
            font-size: 12px ;
            margin-bottom: 20px ;
        }
        .chose-us h4{
            font-size: 20px ;
            font-weight: 500 ;
            margin-top: 20px ;
        }
        .chose-us p{
            font-size: 12px ;
            line-height: 1.7em ;
    
        }
    
        .feature{
            padding: 30px 0px 5px 0px;
        }
        .feature h1{
            font-size: 20px ;
        }
        .feature p {
            margin: 0px 0px 40px 0px;
            font-size: 14px;
    
        }
        .work{
            padding: 30px 0px ;
        }
        .work img{
            width: 100% ;
        }
        .work h1{
            font-size: 24px ;
        }
        .work p{
            font-size: 14px ;
        }
        .work h4{
            font-size: 18px ;
        }
        .work .btn-primary{
            font-size: 12px ;
            margin-bottom: 10px ;
        }   
        .gallary{
            padding: 30px 0px ;
        }
        .gallary h1{
            font-size: 24px ;
        }
        .gallary p{
            font-size: 14px ;
            margin: 15px 0px  ;
        }
        .gallary img{
            width: 100% ;
            margin: 0px 0px 20px 0px;
        }
        .gallary .inner-gallary {
            width: 100%;
            margin-top: 0px;
        }
        .team{
            padding: 30px 0px;
        }
        .team h1{
            font-size: 24px ;
        }   
        .team p{
            font-size: 14px ;
            margin: 10px 0px 20px 0px;
        }
        .team img{
            width: 100% ;
            margin: 0px 0px 20px 0px;
        }
        .team .social-icon {
            margin: 0px 0px 20px 0px;
        }
        .consalation {
            padding: 30px 0px ;
        }
        .consalation p{
            font-size: 14px;
        }
        .consalation .btn-primary{
            font-size: 12px ;
        }
        .footer{
            padding: 30px 0px ;
        }
        .footer .active{
            font-size: 18px ;
        }
        .footer ul li{
            font-size: 14px ;
        }
        .footer .fa{
            font-size: 14px ;
            margin: 0px 20px 20px 0px ;
        }
        /* css end*/
    }
    
    /* *****
    * screen resulation : 481px to 767px 
    * most of the mobile phone --  nad low resulation tab
    */
    
    @media (min-width: 481px) and (max-width: 767px) {
        /* css start  */
        .header .top-menu{
            padding: 15px 0px ;
        }
        .header .top-menu p {
            font-size: 13px;
            color: #474747;
        }
        .header .top-menu img{
            margin: 0px 0px 25px 0px ;
    
        }
        .header .navbar-wrapper {
            width: 100% ;
            margin-top:0px;
            position: relative;
            z-index: 15;
          
          }
         .header .isStuck{
            left:0px;
            width:100%;
            background-color: #37c3a8 ;
        }
        
        .header .navbar-nav .nav-link.active {
            color: #1a9bdc;
            margin: 15px 0px 0px 0px;
        }
        .header .nav-link {
            padding: 0px 0px 15px 0px;
            font-size: 15px;
            color: #474747;
            font-weight: 500;
        }
        .header .nav-link:hover{
            color: #1a9bdc;
        }
        .banner{
            padding: 35px 0px ;
        }
        .banner h1{
            font-size: 23px ;
        }
        .banner p{
            font-size: 15px ;
            margin: 15px 0px;
        }
    
        .banner .btn-primary{
            font-size: 13px ;
        }
        .about{
            padding: 35px 0px 15px 0px ;
        }
        .about h4{
            font-size: 17px ;
        }
        .about p{
            font-size: 13px ;
        }
        .chose-us{
            padding: 35px 0px ;
        }
        .chose-us .title h1 {
            font-size:23px ;
        }
        .chose-us .title p{
            font-size: 13px ;
            margin-bottom: 25px ;
        }
        .chose-us h4{
            font-size: 21px ;
            font-weight: 500 ;
            margin-top: 20px ;
        }
        .chose-us p{
            font-size: 13px ;
            line-height: 1.7em ;
    
        }
    
        .feature{
            padding: 35px 0px 8px 0px;
        }
        .feature h1{
            font-size: 21px ;
        }
        .feature p {
            margin: 0px 0px 45px 0px;
            font-size: 15px;
    
        }
        .work{
            padding: 35px 0px ;
        }
        .work img{
            width: 100% ;
        }
        .work h1{
            font-size: 25px ;
        }
        .work p{
            font-size: 15px ;
        }
        .work h4{
            font-size: 19px ;
        }
        .work .btn-primary{
            font-size: 13px ;
            margin-bottom: 15px ;
        }   
        .gallary{
            padding: 35px 0px ;
        }
        .gallary h1{
            font-size: 25px ;
        }
        .gallary p{
            font-size: 15px ;
            margin: 20px 0px  ;
        }
        .gallary img{
            width: 100% ;
            margin: 0px 0px 25px 0px;
        }
        .gallary .inner-gallary {
            width: 100%;
            margin-top: 0px;
        }
        .team{
            padding: 35px 0px;
        }
        .team h1{
            font-size: 25px ;
        }   
        .team p{
            font-size: 15px ;
            margin: 15px 0px 25px 0px;
        }
        .team img{
            width: 100% ;
            margin: 0px 0px 0px 0px;
        }
        .team .social-icon {
            margin: 0px 0px 25px 0px;
        }
        .consalation {
            padding: 35px 0px ;
        }
        .consalation p{
            font-size: 15px;
        }
        .consalation .btn-primary{
            font-size: 15px ;
        }
        .footer{
            padding: 35px 0px ;
        }
        .footer .active{
            font-size: 19px ;
        }
        .footer ul li{
            font-size: 15px ;
        }
        .footer .fa{
            font-size: 15px ;
            margin: 0px 25px 25px 0px ;
        }
        
        
        /* css end*/
    }
    
    
    /* *****
    * screen resulation : 768px to 1024px 
    * most of the tablate , notebook , ipads 
    */
    
    @media (min-width: 768px) and (max-width: 1024px) {
        /* css start  */
        .header .top-menu{
            padding: 20px 0px ;
        }
        .header .top-menu p {
            font-size: 14px;
            color: #474747;
        }
        .header .top-menu img{
            margin: 0px 0px 45px 0px ;
    
        }
        .header .navbar-wrapper {
            width: 100% ;
            margin-top:0px;
            position: relative;
            z-index: 15;
          
          }
         .header .isStuck{
            left:0px;
            width:100%;
            background-color: #37c3a8 ;
        }
        
        .header .navbar-nav .nav-link.active {
            color: #1a9bdc;
            margin: 35px 0px 0px 0px;
        }
        .header .nav-link {
            padding: 0px 0px 35px 0px;
            font-size: 18px;
            color: #474747;
            font-weight: 500;
        }
        .header .nav-link:hover{
            color: #1a9bdc;
        }
        .banner{
            padding: 55px 0px ;
        }
        .banner h1{
            font-size: 26px ;
        }
        .banner p{
            font-size: 18px ;
            margin: 35px 0px;
        }
    
        .banner .btn-primary{
            font-size: 16px ;
        }
        .about{
            padding: 55px 0px 35px 0px ;
        }
        .about h4{
            font-size: 20px ;
        }
        .about p{
            font-size: 16px ;
        }
        .chose-us{
            padding: 55px 0px ;
        }
        .chose-us .title h1 {
            font-size:26px ;
        }
        .chose-us .title p{
            font-size: 16px ;
            margin-bottom: 45px ;
        }
        .chose-us h4{
            font-size: 26px ;
            font-weight: 500 ;
            margin-top: 40px ;
        }
        .chose-us p{
            font-size: 16px ;
            line-height: 1.7em ;
    
        }
    
        .feature{
            padding: 55px 0px 13px 0px;
        }
        .feature h1{
            font-size: 24px ;
        }
        .feature p {
            margin: 0px 0px 65px 0px;
            font-size: 18px;
    
        }
        .work{
            padding: 55px 0px ;
        }
        .work img{
            width: 100% ;
        }
        .work h1{
            font-size: 28px ;
        }
        .work p{
            font-size: 18px ;
        }
        .work h4{
            font-size: 22px ;
        }
        .work .btn-primary{
            font-size: 16px ;
            margin-bottom: 25px ;
        }   
        .gallary{
            padding: 55px 0px ;
        }
        .gallary h1{
            font-size: 28px ;
        }
        .gallary p{
            font-size: 18px ;
            margin: 30px 0px  ;
        }
        .gallary img{
            width:100% ;
            margin: 0px 0px 45px 0px;
        }
        .gallary .inner-gallary {
            width: 100%;
            margin-top: 0px;
        }
        .team{
            padding: 55px 0px;
        }
        .team h1{
            font-size: 28px ;
        }   
        .team p{
            font-size: 18px ;
            margin: 26px 0px 36px 0px;
        }
        .team img{
            width: 100% ;
            margin: 0px 0px 30px 0px;
        }
        .team .social-icon {
            margin: 0px 0px 45px 0px;
        }
        .consalation {
            padding: 55px 0px ;
        }
        .consalation p{
            font-size: 18px;
        }
        .consalation .btn-primary{
            font-size: 18px ;
        }
        .footer{
            padding: 55px 0px ;
        }
        .footer .active{
            font-size: 22px ;
        }
        .footer ul li{
            font-size: 18px ;
        }
        .footer .fa{
            font-size: 18px ;
            margin: 0px 55px 45px 0px ;
        }
        
        
        
        /* css end*/
    }